@require 'palette.styl'
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root
  --bgColor $bgColor
  --borderColor $borderColor
  --accentColor $accentColor
  --selectionBg $selectionBg

*
  font-family: Inter;

.navbar
  border-width 0

.sidebar
  border-style none

.logo
  width 45.76px !important
  margin-right 5px !important

html
body
input
.links
.navbar
.sidebar
.suggestions
  background-color: var(--bgColor) !important

.suggestions & .focused
  background-color: var(--selectionBg) !important
  border-color var(--borderColor) !important
  border-style solid
  border-width 1px

.nav-link & .action-button
  color white !important

.nav-link:not(.action-button)
.repo-link:not(.action-button)
  color #808080 !important
  transition 0.1s linear
  font-weight 700
  font-size 16px

.nav-link:hover
.repo-link:hover
  color #fff !important

.search-box
  order 1
  margin-right 0
  margin-left 1rem

.suggestions
  left auto !important
  right 0 !important

.description
  font-weight 600