// colors
$bgColor = #161616
$selectionBg = #181818
$accentColor = #ff4242
$textColor = #ffffff
$borderColor = #212121
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 760px
$homePageWidth = 1020px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
